{
  "extends": [
    "airbnb",
    "airbnb-typescript"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "import/prefer-default-export": "off",
    "react/function-component-definition": "off",
    "eslint-disable-next-line no-empty-pattern": "off",
    "no-param-reassign": ["error", { "props": false }],
    "no-underscore-dangle":  ["error", { "allow": ["_id"] }],
    "react/no-array-index-key": "off",
    "@typescript-eslint/quotes": "off"
  },
  "ignorePatterns": ["tailwind.config.js"]
}
