@import '../../../css/common.scss';

.Container {
  box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.10), 1px 1px 2px rgba(0, 0, 0, 0.10);
  border-radius: 2px;
  overflow: hidden;
  margin-top: 24px;
}

.Table {
  width: 100%;
  border: 1px solid $borderColor;
  text-align: left;
}

.TitleRow {
  @include create-text(#000, 14px, 500, $lineHeight: 17px);
  display: flex;
  padding: 0 36px;
  height: 48px;
  background: $bgGrey;
  border-bottom: 1px solid $borderColor;
}

.DefaultRow {
  @include create-text(#000, 13px, 400, $lineHeight: 15.85px);
  padding: 0 36px;
  display: flex;
  border-bottom: 1px solid $borderColor;
  height: 48px;
}

.SkeletonRow {
  border-bottom: 1px solid $borderColor;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CellOne, .CellTwo, .CellThree {
  display: flex;
  min-width: 31%;
  justify-content: space-between;
  align-items: center;
  @include create-text(#000, 14px, 500, $lineHeight: 17px);
}

.ClickArea {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.CellOneD, .CellTwoD, .CellThreeD {
  display: flex;
  min-width: 31%;
  justify-content: space-between;
  align-items: center;
}

.CellFourD {
  display: flex;
  align-items: center;
  height: 48px;
  min-width: 7%;
}

.CellFour {
  display: flex;
  align-items: center;
  height: 48px;
  min-width: 7%;
}

.Skeleton {
  border-radius: 6px;
}

.Star {
  fill: #FFC700;
}