@import "../../../css/common";

.Container {
  margin-top: 24px;
  box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.10), 1px 1px 2px rgba(0, 0, 0, 0.10);
  border-radius: 2px;
  overflow: hidden;
}

.Table {

  width: 100%;
  border: 1px solid $borderColor;
  text-align: left;
}

.TitleRow {
  @include create-text($text, 14px, 500, $lineHeight: 17.07px);
  background: $bgGrey;
  border-bottom: 1px solid $borderColor;
}

.DefaultRow {
  @include create-text($text, 13px, 400, $lineHeight: 15.85px);
  border-bottom: 1px solid $borderColor;

  &:last-child {
    border: none;
  }

}

tr {
  height: 48px;
  //padding: 0 36px;
}

th:last-child {
  padding-right: 36px;
}

th:first-child {
  padding-left: 36px;
}

td:last-child {
  padding-right: 36px;
}

td:first-child {
  padding-left: 36px;

}

.StarsContainer {
  display: flex;
  gap: 4px;
}

.FilterDate {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}
