@import '../../../css/common.scss';

.Container {
  box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.10), 1px 1px 2px rgba(0, 0, 0, 0.10);
  border-radius: 2px;
  overflow: hidden;
  margin-top: 24px;
}

.Table {
  width: 100%;
  border: 1px solid $borderColor;
  text-align: left;
}

.Row {
  display: flex;
  height: 48px;
  padding: 0 36px;
  background: $bgGrey;
  border-bottom: 1px solid $borderColor;
  @include create-text(#000, 14px, 500, $lineHeight: 17px);


  &CellOne, &CellTwo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 30%;
    @include create-text(#000, 14px, 500, $lineHeight: 17px);
  }

  &CellThree {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 20%;
    @include create-text(#000, 14px, 500, $lineHeight: 17px);
  }

  &CellFour {
    display: flex;
    align-items: center;
    height: 48px;
    min-width: 10%;
    gap: 6px;
    cursor: pointer;
  }
}

.SkeletonRow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  border-bottom: 1px solid $borderColor;

  &Item {
    border-radius: 6px;
  }
}
