@import '../../../css/common.scss';

.Layout {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.Main {
  display: flex;
  flex: 1 1 auto;
}
