@import "../../../css/common";

.Back{
  position: absolute;
  top: 84px;
  left: 136px;
  z-index: 20;
  cursor: pointer;
}

.Link {
  @include create-text($text, 14px, 400, $lineHeight: 24px);
  display: flex;
  gap: 8px;
}
