@import "../../../css/common";

.Filters {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 24px;
}

.SearchArea {
  display: flex;
  flex-direction: column;
  width: 415px;
}

.TitleText {
  @include create-text($text, 14px, 500);
  padding-bottom: 8px;
}

.InputWrapper {
  position: relative;
}

.Input {
  width: 100%;
  border-radius: 2px;
  border: 1px solid #D9D9D9;
  background: #fff;
  height: 36px;
  color: $sideText;
  padding-left: 40px;
}

.IconSearch {
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  position: absolute;
  left: 16px;
}


.ShowPacksArea {
  display: flex;
  width: 200px;
  flex-direction: column;
}

.FilterIconArea {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 2px;
  border: 1px solid $borderColor;
}
