@import "../../../css/common";

.Button {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 7px;
  border-radius: 30px;
  cursor: pointer;

  &Blue {
    @include create-text(#fff, 16px, 500, $letterSpacing: 0.16px);
    background: $bb;
    box-shadow: $blueShadow;
    transition: all .2s ease-in-out;

    &:hover {
      background: $bbHover;
    }
  }

  &White {
    @include create-text(#000, 16px, 500, $letterSpacing: 0.16px);
    background: $cleanWhite;
    box-shadow: $logOutButton;

    transition: all .2s ease-in-out;

    &:hover {
      //background: #F9F9FA;
    }
  }

    &Red {
      @include create-text(#fff, 16px, 500, $letterSpacing: 0.16px);
      background: $red;
      box-shadow: $RedShadow;

      transition: all .2s ease-in-out;

      &:hover {
        background: $redHover;
      }

    }

    &Disabled {
      @include create-text($text, 16px, 500, $letterSpacing: 0.16px);
      background: $red;
      box-shadow: $logOutButton;
    }
}
