@import "../../../css/common";

.Container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 36px;
  border-radius: 2px;
  border: 1px solid $borderColor;
  background: #FFF;

  @media (max-width: 1100px) {
    width: 130px;
  }
}

.Switch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  transition: all .2s ease-in-out;
  cursor: pointer;
  @include create-text($text, 14px, 400);

  &Active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background: $bb;
    cursor: pointer;
    @include create-text(#fff, 14px, 400);
  }
}
