@import "../../../css/common";

.Main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 36px 136px;
}

.PageTitle {
  @include create-text($text, 22px, 600, $lineHeight: 20px);
}

.ButtonAdd {
  background: $bb;
  @include create-text(#fff, 16px, 500, $letterSpacing: 0.16px);
  padding: 8px 28px;
  box-shadow: $blueShadow;
  border-radius: 30px;
}