@import "../../../css/common";

.Main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 36px 136px;
}

.PageTitle {
  @include create-text($text, 22px, 600, $lineHeight: 20px);
}