@import '../../../css/common.scss';

.Container {
  box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.10), 1px 1px 2px rgba(0, 0, 0, 0.10);
  border-radius: 2px;
  overflow: hidden;
}

.Table {
  width: 100%;
  border: 1px solid $borderColor;
  text-align: left;
}

.TitleRow {
  display: flex;
  padding: 0 36px;
  background: $bgGrey;
  border-bottom: 1px solid $borderColor;
}

.DefaultRow {
  padding: 0 36px;
  display: flex;
  border-bottom: 1px solid $borderColor;
}

.SkeletonRow {
  border-bottom: 1px solid $borderColor;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ActionsContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.CellOne, .CellTwo, .CellFour {
 display: flex;
  min-width: 23.5%;
  align-items: center;
  @include create-text(#000, 14px, 500, $lineHeight: 17px);
}

.CellThree {
  display: flex;
  min-width: 23.5%;
  align-items: center;
  gap: 6px;
  @include create-text(#000, 14px, 500, $lineHeight: 17px);
}

.ClickArea {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.CellOneD, .CellTwoD, .CellThreeD, .CellFourD {
  display: flex;
  min-width: 23.5%;
  align-items: center;
  @include create-text(#000, 13px, 400, $lineHeight: 17px);
}

.CellFive {
  display: flex;
  align-items: center;
  height: 48px;
  min-width: 6%;
}

.CellFiveD {
  display: flex;
  align-items: center;
  height: 48px;
  min-width: 6%;
}

.Skeleton {
  border-radius: 8px;
}