@import "../../../css/common";

.Profile {
  position: absolute;
  display: flex;
  padding-top: 60px;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.ProfileCardContainer {
  background: #fff;
  display: flex;
  filter: drop-shadow(-1px -1px 2px rgba(0, 0, 0, 0.10)) drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.10));
  flex-direction: column;
  padding: 27px 33px 36px 33px;
  align-items: center;
  border-radius: 2px;
  height: fit-content;
  min-width: 520px;
}

.ProfileTitle {
  @include create-text($text, 22px, 600);
  padding-bottom: 30px;
}

.AvatarContainer {
  user-select: none;
  position: relative;
}

.AvatarImg {
  width: 192px;
  height: 192px;
  border-radius: 50%;
  pointer-events: none;
}

.AvatarChangeIcon {
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 12;
  cursor: pointer;
}

.NameArea {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 17px 0 24px 0;
  transition: all .2s ease-in-out;
  //transition: opacity 0.2s ease-in-out;
  opacity: 1;

  .Username {
    @include create-text($text, 25px, 400, $lineHeight: 24px);
  }
}

.EmailText {
  @include create-text($sideText, 14px, 400, $lineHeight: 24px);
  padding-bottom: 29px;
}

.ButtonSave {
  @include create-text(#fff, 12px, 400, $lineHeight: 24px);
  text-transform: uppercase;
  background: $bb;
  padding: 0 10px;
  border-radius: 2px;
  position: absolute;
  right: 12px;
  bottom: 35px;
  transition: all .2s ease-in-out;
  &:hover {
    background: $bbHover;
  }
}

.Edit {
  cursor: pointer;
}

.EditContainer {
  margin-top: 36px;
  width: 100%;
  position: relative;
  display: flex;
  transition: all .2s ease;
}

.ChooseProfileAvatarIconHover {
  transition: all .1s ease-in-out;
 &:hover {
   fill: #383838;
 }
}

.AvatarChangeIcon input {
  display: none;
}