@mixin create-text($color, $fontSize, $fontWeight, $lineHeight: normal, $letterSpacing: normal) {
  color: $color;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
  font-family: 'Montserrat', sans-serif;
}

$bg: #F9F9FA;
$text: #000;
$sideText: rgba(#000, .5);
$bb: #366eff;
$bgGrey: #efefef;
$star: #FFC700;
$red: #FF3636;
$shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.30) inset;
$blueShadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.30) inset, 0px 4px 18px 0px rgba(54, 110, 255, 0.35);
$RedShadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.30) inset, 0px 4px 18px 0px rgba(255, 54, 54, 0.35);
$cleanWhite: #FCFCFC;
$borderColor: #D9D9D9;
