@import "../../../css/common";

.Container {
  width: 100%;
}

.Search {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;

  &Text {
    @include create-text($text, 14px, 500, $lineHeight: 17.07px);
  }
}

.InputContainer {
  position: relative;
}

.InputIcon {
  position: absolute;
  top: 10px;
  left: 16px;
}

.Input {
  position: relative;
  width: 100%;
  height: 36px;
  padding: 6px 0 6px 40px;
  border: 1px solid $borderColor;
  border-radius: 2px;
  cursor: pointer;
}
